# .NET
bin/
obj/
.vs/

# Local configuration
appsettings.Development.json

# Angular / Node
node_modules/
.angular/
dist/

# Python
.venv/
venv/
__pycache__/
*.pyc

# Secrets
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db*.csproj.user
*.csproj.user


